.page-section {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  padding: 2rem 1.5rem;
}

@media (min-width: 768px) {
  .page-section {
    padding: 10vh 10vw 2rem;
    gap: 1.5rem;
  }
}
